#banner {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 50%, rgba(2,0,36,1) 100%);
    letter-spacing: -1px;
}

.wire {
    border: 1px dotted grey;
}

input {
    width: 100%;
    border: 1px solid lightslategrey;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 13px;
}

.btn-long {
    margin: 5px auto;
    width: 100%;
}

.btn-light {
    color: white;
    background-color: lightskyblue;
}

.btn-light:hover {
    border: 1px solid lightslategrey;
}

.card {
    border: 0;
}

#currentDisplay {
    border: 1px solid grey;
    border-radius: 0px;
    margin: 10px 10px 0px 0px;
    padding: 5px;
}

#forecastDisplay {
    margin-top: 15px;
}

.forecastCard {
    margin-bottom: 15px;
}

.dailyCard {
    background-color: steelblue;
    color: white;
    border: 0px;
}